{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
{% endblock head %}
{% block body %}
  <body>
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Pet Shop <i class="ion-ios-arrow-forward"></i></span></p>
            <h1 class="mb-0 bread">Pet Shop</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pt">
        <input class="variation" id="bluepurple" type="radio" value="1" name="color" checked="checked"/>
        <main>
          <section class="results-header ftco-animate">
            <h1>All your pet's needs in one place</h1>
          </section>
          <div class="filter-section__wrapper">
            <section class="filter-section ftco-animate">
              <h6>Filters</h6>
              <div class="filters">
                <h5 class="filters__title">Animal Type</h5>
                <div class="filters__item">
                  <div class="checkbox">
                    <input name="type" id="checkbox-1" type="radio"/>
                    <label for="checkbox-1">Dog<span class="box"></span>
                      <div class="tooltip top" data-tooltip="Younger than 18 months."><span><i class="icon-info"></i></span></div>
                    </label>
                  </div><span class="badge status-primary">0</span>
                </div>
                <div class="filters__item">
                  <div class="checkbox">
                    <input name="type" id="checkbox-2" type="radio"/>
                    <label for="checkbox-2">Cat<span class="box"></span></label>
                  </div><span class="badge status-primary">0</span>
                </div>
                <div class="filters__item">
                  <div class="checkbox">
                    <input name="type" id="checkbox-3" type="radio"/>
                    <label for="checkbox-3">Bird<span class="box"></span></label>
                  </div><span class="badge status-primary">0</span>
                </div>
                <div class="filters__item">
                  <div class="checkbox">
                    <input name="type" id="checkbox-4" type="radio"/>
                    <label for="checkbox-4">Fish<span class="box"></span></label>
                  </div><span class="badge status-primary">0</span>
                </div>
              </div>
              <div class="filters">
                <h5 class="filters__title">Category</h5>
                <div class="filters__item">
                  <div class="checkbox">
                    <input name="Category" class="catRad" id="checkbox-5" type="radio"/>
                    <label for="checkbox-5">Food<span class="box"></span></label>
                  </div><span class="badge status-primary">0</span>
                </div>
                <div class="filters__item">
                  <div class="checkbox">
                    <input name="Category" class="catRad" id="checkbox-6" type="radio"/>
                    <label for="checkbox-6">Medicine<span class="box"></span></label>
                  </div><span class="badge status-primary">0</span>
                </div>
                <div class="filters__item">
                  <div class="checkbox">
                    <input name="Category" class="catRad" id="checkbox-7" type="radio"/>
                    <label for="checkbox-7">Toys<span class="box"></span></label>
                  </div><span class="badge status-primary">0</span>
                </div>  
              </div>
            </section>
          </div>
          <section class="results-section results--grid">
            {% for i in  items %}
                <div class="profile profile-default ftco-animate">
                  <div class="profile__image"><img src="{{ i.img.url }}" alt="Doggo"/></div>
                  <div class="profile__info">
                    <h3>{{ i.name }}</h3>
                    <p class="profile__info__extra">{{ i.description }}</p>
                  </div>
                  <div class="profile__stats">
                    <p class="profile__stats__title">Category</p>
                    <h5 class="profile__stats__info">{{ i.category }}</h5>
                  </div>
                  <div class="profile__stats">
                    <p class="profile__stats__title">Size</p>
                    <h5 class="profile__stats__info">{{ i.size }}</h5>
                  </div>
                  <div class="profile__stats">
                    <p class="profile__stats__title">Price</p>
                    <h5 class="profile__stats__info">{{ i.price }}</h5>
                  </div>
                  <div class="profile__cta"><a class="button">Add To Cart</a></div>
                </div>
            {% endfor %}
          </section>
        </main>
    </section>
{% endblock body %}
{% block scripts %}
    <script>
        $(".nav-link").each(function () {
            if ($(this).text() === "Pet Shop"){
                $(this).parent(".nav-item").addClass('active');
            }else{
                $(this).parent(".nav-item").removeClass('active');
            }
        });
        const itemList = [];
        {% for i in items %}
            itemList.push(
                {
                    "name": "{{ i.name }}",
                    "id": "{{ i.id }}",
                    "desc": "{{ i.description }}",
                    "cat": "{{ i.category }}",
                    "type": "{{ i.type }}",
                    "price": "{{ i.price }}",
                    "size": "{{ i.size }}",
                    "img": "{{ i.img.url }}",
                }
            );
        {% endfor %}
        const listContainer = $(".results-section");
        function updateList(dict){
            listContainer.find('.profile-default').toggleClass('fadeInUp').toggleClass('fadeOutDown')
            setTimeout(function () {
                listContainer.empty();
                for (let i = 0; i < dict.length; i++) {
                    listContainer.append(
                        '<div class="profile profile-default ftco-animate fadeInUp ftco-animated">' +
                        '<div class="profile__image"><img src="'+ dict[i]['img'] +'" alt="Doggo"/></div>' +
                        '<div class="profile__info">' +
                        '<h3>' + dict[i]['name'] + '</h3>' +
                        '<p class="profile__info__extra">' + dict[i]['desc'] + '</p>' +
                        '</div>' +
                        '<div class="profile__stats">' +
                        '<p class="profile__stats__title">Category</p>' +
                        '<h5 class="profile__stats__info">' + dict[i]['cat'] + '</h5>' +
                        '</div>' +
                        '<div class="profile__stats">' +
                        '<p class="profile__stats__title">Size</p>' +
                        '<h5 class="profile__stats__info">' + dict[i]['size'] + '</h5>' +
                        '</div>' +
                        '<div class="profile__stats">' +
                        '<p class="profile__stats__title">Price</p>' +
                        '<h5 class="profile__stats__info">' + dict[i]['price'] + '</h5>' +
                        '</div>' +
                        '<div class="profile__cta"><a class="button">Add To Cart</a></div>' +
                        '</div>'
                    );
                }
            }, 300)
        }
        function catChecker(){
            if ($('#checkbox-5').is(':checked') || $('#checkbox-6').is(':checked') || $('#checkbox-7').is(':checked') ){
                return filteredItems2;
            }else{
                return itemList;
            }
        }
        function typeChecker(){
            if ($('#checkbox-1').is(':checked') || $('#checkbox-2').is(':checked')
                || $('#checkbox-3').is(':checked') || $('#checkbox-4').is(':checked')  ){
                return filteredItems1;
            }else{
                return itemList;
            }
        }
        var filteredItems1 = [], filteredItems2 = [];
        updateList(itemList);
        $('#checkbox-1').click(function() {
            if (!$('#checkbox-1').is(':checked')) {
                updateList(itemList);
            }else{
                filteredItems1 = catChecker().filter(item => item.type === "Dog");
                updateList(filteredItems1);
            }
        })
        $('#checkbox-2').click(function() {
            if (!$('#checkbox-2').is(':checked')) {
                updateList(itemList);
            }else{
                filteredItems1 = catChecker().filter(item => item.type === "Cat");
                updateList(filteredItems1);
            }
        })
        $('#checkbox-3').click(function() {
            if (!$('#checkbox-3').is(':checked')) {
                updateList(itemList);
            }else{
                filteredItems1 = catChecker().filter(item => item.type === "Bird");
                updateList(filteredItems1);
            }
        })
        $('#checkbox-4').click(function() {
            if (!$('#checkbox-4').is(':checked')) {
                updateList(itemList);
            }else{
                filteredItems1 = catChecker().filter(item => item.type === "Fish");
                updateList(filteredItems1);
            }
        })
        $('#checkbox-5').click(function() {
            if (!$('#checkbox-5').is(':checked')) {
                updateList(itemList);
            }else{
                filteredItems2 = typeChecker().filter(item => item.cat === "Food");
                updateList(filteredItems2);
            }
        })
        $('#checkbox-6').click(function() {
            if (!$('#checkbox-6').is(':checked')) {
                updateList(itemList);
            }else{
                filteredItems2 = typeChecker().filter(item => item.cat === "Medicine");
                updateList(filteredItems2);
            }
        })
        $('#checkbox-7').click(function() {
            if (!$('#checkbox-7').is(':checked')) {
                updateList(itemList);
            }else{
                filteredItems2 = typeChecker().filter(item => item.cat === "Toys");
                updateList(filteredItems2);
            }
        })
    </script>
{% endblock scripts %}