{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock head %}

{% block body %}
  <body>
    <section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb img text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 half p-3 py-5 pl-lg-5 ftco-animate mx-auto centring">
                <h2 class="mb-4">Sign Up</h2>
                {% if errors %}
                    <div class="container errors-container">
                        {% for i in errors %}
                            <h5 class="error-msg">{{ i }}</h5>
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="POST" class="appointment" style="max-width: 500px; margin: 0 auto;">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="first_name" type="text" class="form-control" placeholder="First Name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="last_name" type="text" class="form-control" placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="username" type="text" class="form-control" placeholder="Username" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="email" type="text" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="phone" type="text" class="form-control" placeholder="Phone Number" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="address" type="text" class="form-control" placeholder="Address" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="password1" type="password" class="form-control" placeholder="Enter Password" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="password2" type="password" class="form-control" placeholder="Confirm Password" required>
                            </div>
                        </div>
                    </div>
                    <ul class="radio-switch ">
                        <li class="radio-switch__item">
                          <input class="radio-switch__input ri5-sr-only" type="radio"
                                 name="radio-switch-name" id="radio-1" value="vet">
                          <label class="radio-switch__label" for="radio-1">Vet</label>
                        </li>
                      
                        <li class="radio-switch__item">
                          <input class="radio-switch__input ri5-sr-only" type="radio"
                                 name="radio-switch-name" id="radio-2" value="client" checked>
                          <label class="radio-switch__label" for="radio-2">Pet Owner</label>
                          <div aria-hidden="true" class="radio-switch__marker"></div>
                        </li>
                      </ul>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary py-3 px-4">Sign Up</button>
                    </div>
                    
                </form>
                <p style="color: white;"><a href="{% url 'login' %}" style="color: white; text-decoration: none;"><u><b>Already have an account? Login</b></u></a></p>
            </div>
        </div>
    </div>
</section>
  </body>
  <script>

  </script>
{% endblock body %}
{% block scripts %}

{% endblock scripts %}